// colors

$main-text: #f5f4ed; // main text
$link: #e86256; // anchor tags
$background: #f7f7f7; // background color
$text: #000;

// Grid

$grid-bg: #fff;
$article-bg:none;

// fonts 

$primary-font: 'Open Sans', sans-serif;